name: Crypto Daily CheckIn

on:
  schedule:
    # 每天UTC时间1:00 AM，北京时间9:00 AM
    - cron: "0 1 * * *"
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      COINGECKO_COOKIE: ${{secrets.COINGECKO_COOKIE}}
      COINGECKO_TOKEN: ${{secrets.COINGECKO_TOKEN}}
      COINMARKET_COOKIE: ${{secrets.COINMARKET_COOKIE}}
      COINMARKET_TOKEN: ${{secrets.COINMARKET_TOKEN}}
      WX_COMPANY_ID: ${{secrets.WX_COMPANY_ID}}
      WX_APP_ID: ${{secrets.WX_APP_ID}}
      WX_APP_SECRET: ${{secrets.WX_APP_SECRET}}
      BOT_KEY: ${{secrets.BOT_KEY}}
      TELEGRAM_BOT_TOKEN: ${{secrets.TELEGRAM_BOT_TOKEN}}
      TELEGRAM_CHAT_ID: ${{secrets.TELEGRAM_CHAT_ID}}
      LLM_API_KEY=: ${{secrets.LLM_API_KEY}}
      LLM_BASE_URL: ${{secrets.LLM_BASE_URL}}
      LLM_MODEL: ${{secrets.LLM_MODEL}}
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: setup bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: install dependencies
        run: bun install

      - name: run js
        run: bun run start
